<div class=" container ">
  <div class="columns is-centered">
    <div class="box column is-one-third mt-6 has-text-centered   ">
      <h1 class="title mb-6">Typing challenge</h1>
      <span 
        *ngFor="let randomLetter of randomText.split('');let i = index"
        [class]="compare(randomLetter, inputText[i])"  
      >{{randomLetter}}</span>
      <div class="field mt-5 mb-3">
        <input class="input" (input)="takeInputData($event)">
      </div>
      
      <div *ngIf="inputText===randomText  " class="box ">
        <h1 class="title">Success</h1>
      </div>
    </div>
  </div>
</div>